@model Capstone2.Models.Pros

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Positives</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd id="pro-date">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Entry
        </dt>
        <dd id="pro-deet">
            @Html.DisplayFor(model => model.ProEntry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
