/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FEFFBE;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.home-image {
text-align:center;
}

#pro-header {
    font-family: 'Comic Sans MS';
    color: #C9E264;
}

#con-header {
    font-family: 'Comic Sans MS';
    color: #C9E264;
}

#pro-input {
    font-family: 'Comic Sans MS';
    color: #20B2AA;
}

#pro-input-fields {
    width: 750px;
    height: 300px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    color: green;
    border-style: none;
    /*border-color: #FEFFBE;*/
    background-image: url("http://www.anasfim.com/p/2018/04/wrinkled-notebook-paper-background-google-search-textures-and-in-wrinkled-lined-paper-background.jpg");
}

#pro-entry, #pro-deet {
    font-family: 'Reenie Beanie', cursive;
    color: green;
}

#con-input {
    font-family: 'Comic Sans MS';
    color: #20B2AA;
}

#con-input-fields {
    width: 750px;
    height: 300px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    color: orangered;
    border-style: dashed;
    border-color: #FEFFBE;
    background-image: url("http://www.anasfim.com/p/2018/04/wrinkled-notebook-paper-background-google-search-textures-and-in-wrinkled-lined-paper-background.jpg");
}

#con-entry, #con-deet {
    font-family: 'Reenie Beanie', cursive;
    color: orangered;
}

#date-input {
    font-family: 'Comic Sans MS';
    color: #20B2AA
}

#date-input-fields {
    width: 450px;
    height: 50px;
    font-size: large;
    color: black;
    border-style: none;
    border-color: mediumpurple;
    background-image: url("http://www.anasfim.com/p/2018/04/wrinkled-notebook-paper-background-google-search-textures-and-in-wrinkled-lined-paper-background.jpg");
}

#pro-date, #con-date {
    font-family: 'Comic Sans MS';
}

#total-headers{
    font-family:'Comic Sans MS';
}

.total-dates{
    font-family:'Comic Sans MS';
}

.pro-total {
    color: green;
    font-family: 'Frijole', cursive;
    font-size: 50px;
}

.con-total {
    color: orangered;
    font-family: 'Frijole', cursive;
    font-size: 40px;
}

#navBar {
    background-color: #FEFFBE;
    border: none;
    font-family: 'Comic Sans MS';
    font-size: large;
}

#nav-text {
    color:#C9E264;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


