@model Capstone2.Models.ViewModels.ProConViewModel


<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Pros Total
            </th>
            <th>
               Cons Total
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PCTotals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Date)
                </td>
               
                <td class="pro-total">
                    @Html.DisplayFor(model => item.totalPros)
                </td>
                 
                <td class="con-total">
                    @Html.DisplayFor(model => item.totalCons)
                </td>
            </tr>
        }
    </tbody>
</table>

<li><a asp-area="" asp-controller="Pros" asp-action="Index">Pros</a></li>
<li><a asp-area="" asp-controller="Cons" asp-action="Index">Cons</a></li>



