@model Capstone2.Models.ViewModels.ProConViewModel

@{
    <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
}


<table class="table" id="total-headers">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
             Total
            </th>
            <th>
             Total
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PCTotals)
        {
            <tr>
                <td class="total-dates">
                    @Html.DisplayFor(model => item.Date)
                </td>

                <td class="pro-total">
                    @Html.DisplayFor(model => item.totalPros)
                </td>

                <td class="con-total">
                    @Html.DisplayFor(model => item.totalCons)
                </td>
            </tr>
        }
    </tbody>
</table>

<li><a asp-area="" asp-controller="Pros" asp-action="Index">Pros</a></li>
<li><a asp-area="" asp-controller="Cons" asp-action="Index">Cons</a></li>



